<h1>Cocktails#show</h1>
<p>Find me in app/views/cocktails/show.html.erb</p>

<% @cocktail.doses.each do |dose| %>
  <%= dose.description %>
  <%= dose.ingredient.name %>
  <%= link_to 'Delete dose',  dose_path(dose), :confirm => "Are you sure you want to delete this dose?", :method => :delete %>
<% end %>

<%= link_to 'Create new dose',  new_cocktail_dose_path(@cocktail.id) %>

